<div class="container-fluid w-75 p-3">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" name="title">
        </div>
            <input type="hidden" class="form-control" id="" value="<%=userId%>" name="userId">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
        </div>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Upload File</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple name="fileUpload">
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Post blog</button>
        </div>         
    </form>
</div>