<%-include("includes/headers.ejs")%>
<%-include("Admin/Admin.ejs")%>
</head>
<body>
<h1 class="Admin-desc">Our Posted Blogs</h1>
<!-- <%-include("Admin/Dashboard.ejs")%>   -->
<%- include("includes/end.ejs")%>